html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

header {
  position: fixed;
  width: 100%;
  background-color: white;
}

header .content {
  display: flex;
  align-items: center;
  height: 64px;
}

header .brand {
    display: flex;
    margin-right: auto;
    align-items: center;
    padding-left: 24px;
}

header .logo {
  height: 32px;
}

header .brand span {
    line-height: 32px;
}

header nav ul {
  display: flex;
  list-style: none;
  padding: 0 24px 0 0;
}

nav li {
  padding-right: 16px;
}

header .mobile {
  display: none;
}

.container {
  margin: auto;
}

.main {
  padding-top: 64px;
  background-color: lightgrey;
}

.main .container {
  display: flex;
  justify-content: space-between;
}

.left-section {
  width: 60%;
  padding: 32px 24px;
}

.left-section img {
  width: 100%
}

.right-section {
  display: flex;
  width: 40%
}

.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}

.headline h1 {
  margin: 0 0 32px 0;
}

.headline h3 {
  margin: 0 0 32px 0;
}

.headline a {
  background: #383838;
  color: white;
  padding: 16px;
  text-align: center;
  text-decoration: none;
}

.button {
  display: flex;
  justify-content: center;
  padding: 8px 0;
  background-color: black;
  color: white;
  /* width: 60%; */
}

.practice .container {
  display: flex;
  justify-content: space-between;
}

.practice .right-section {
  flex-direction: column;
  padding-top: 16px;
}

.event {
  display: flex;
}

.event img {
  width: 35%;
  height: 35%;
  padding: 16px;
}

.event-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.event-text h2 {
  margin: 0;
}

.event-text p {
  margin: 0;
  padding: 8px 0;
}

.event-text a {
  text-decoration: none;
  color: mediumblue;
}
